[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-monokai"]
	path = .vim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule ".vim/pack/plugin/start/vim-tmux-navigator"]
	path = .vim/pack/plugin/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/xterm-color-table.vim"]
	path = .vim/bundle/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule "iTerm2-Color-Schemes"]
	path = iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = https://github.com/tinted-theming/base16-vim.git
[submodule ".vim/pack/coc/start/coc.nvim"]
	path = .vim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/pack/tpope/start/endwise"]
	path = .vim/pack/tpope/start/endwise
	url = https://tpope.io/vim/endwise.git
